.App {
  display: flex;
  flex-direction: column;
}

.pokeWindow {
  width: 1200px;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
}

.selectedPoke {
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.paginationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

